# Importing

In [1]:
import pandas as pd
import numpy as np 
import os
path = r'C:\Users\Administrator\Desktop\Projects (Carrer foundry)\Achievement 4 (J)'
df_prods = pd.read_csv(os.path.join(path, '02 Data','Prepared Data','products_checked.csv'), index_col= False)
orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data','orders_products_combined.pkl'))

# Checking Shape

In [2]:
orders_products_combined.shape

(32434489, 12)

# Merging df_prods on orders

In [3]:
# checking prods first
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

personal note this unnamed column is the issue mentioned in the achievement I assume. Must be an index column thing im not designating correctly.

In [4]:
#df_combined = orders_products_combined.merge(df_prods, on = 'product_id', indicator = True)

## looks like having two mergers causes an issue due to the auto naming covention python has. I can either drop the orignal merge column and then merge or do the new merge with no indicator. Opting for the first option so I can verify the effects of the second merge.

# Droping the original merge column

In [5]:
orders_products_combined = orders_products_combined.drop(['_merge'], axis=1)
orders_products_combined.head(2)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered
0,2539329,1,prior,1,2,8,NaN,True,196,1,0
1,2539329,1,prior,1,2,8,NaN,True,14084,2,0

# Combining second attempt

In [6]:
# first removing the unknown column in prods
df_prods = df_prods.drop('Unnamed: 0', axis =1)
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [7]:
df_combined = orders_products_combined.merge(df_prods, on = 'product_id', indicator = True)

In [8]:
df_combined.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both
1,2539329,1,prior,1,2,8,NaN,True,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,2539329,1,prior,1,2,8,NaN,True,12427,3,0,Original Beef Jerky,23,19,4.4,both
3,2539329,1,prior,1,2,8,NaN,True,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both
4,2539329,1,prior,1,2,8,NaN,True,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both

In [9]:
df_combined.shape

(32404859, 16)

## all looks good here one last check for the merge indicators

In [10]:
df_combined['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

# Exporting the results

In [11]:
df_combined.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'df_combined.pkl'))